:root {
  --txt: #eeeeee;
  --accent: #056d63;
  --bg: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: monospace;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 10vw;

  overflow-y: scroll;
  background-color: var(--bg);
}

#form {
  max-width: 500px;

  margin: auto;
  display: flex;

  flex-direction: column;
  gap: 10px;
}

#form * {
  font-size: 20px;

  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;

  border: none;
}


#form h1 {
  color: var(--txt);  
  font-size: 30px;
  margin-bottom: 30px;
}

#form input{
  color: var(--bg);
  background-color: var(--txt);  
}

#form button{
  color: var(--txt);
  font-weight: 600;
  background-color: var(--accent);

  cursor: pointer;
}